.bgimg{
	height: 90vh;
	width: 100%;
	position: reletive;
	display:flex;
	justify-content: center;
	align-items: center;
}

.bgimg img{
	height: 90vh;
	width: 100%;
	position: absolute;
	left:0;
	object-fit: cover;
	z-index: 1;
}

.img-text{
	z-index: 2;
	color: aquamarine;
}