
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  
}
	
body {
  height: 100vh;
  background: url(img/Bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar-brand img{
	height:45px;
	transition: .5s;
}

.navbar-brand img:hover{
	transform: scale(1.2);
}

.description{
	left: 10%;
	top:30%;
	width: 35%;
	position:absolute;
}

.description h1{
	font-size:40px;
	font-weight:bold;
}

.description p{
	font-size:20px;
}

@media(max-width: 1049px){
	
	.description p{
		width:600px;
		
}


	.description{
		top:20%;
		
	}	
	
}

@media(max-width: 680px){
	.description p{
		width:350px;
		
}
	
}


@media(max-width: 400px){
	.description{
		top:15;
	}

	
}


